<br><br><br><br><br>
<hr>
<h1>POST IT NOTES APP!!!</h1>
<h3>MAKE NOTES!!!</h3>
<h3>EDIT YOUR NOTES!!!</h3>
<h3>once you are finished.... DELETE YOUR NOTES!!!</h3>
<%= render 'layouts/navbar' %>
<%= yield %>
<hr>
